@{
    ViewData["Title"] = "Аналитика продаж";
}

<h1 class="mb-4">Аналитика продаж</h1>
<a asp-controller="Home"
       asp-action="Index"
       class="btn btn-dark mb-4">

    Панель управления

</a>

<div class="row mb-5">

    <div class="col-md-4">
        <div class="card shadow p-4">

            <h3>Заказы</h3>

            <h2>
                @ViewBag.TotalOrders
            </h2>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-4">

            <h3>Продано товаров</h3>

            <h2>
                @ViewBag.TotalProducts
            </h2>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-4">

            <h3>Общая прибыль</h3>

            <h2>
                @ViewBag.TotalMoney ₽
            </h2>

        </div>
    </div>

</div>

<div class="card shadow p-4">

    <h3 class="mb-4">
        Популярность товаров
    </h3>

    <canvas id="salesChart"></canvas>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    const labels =
    @Html.Raw(Json.Serialize(ViewBag.ProductNames));

    const data =
    @Html.Raw(Json.Serialize(ViewBag.ProductCounts));

    new Chart(document.getElementById('salesChart'), {

    type: 'bar',

    data: {

    labels: labels,

    datasets: [{
    label: 'Количество продаж',
    data: data
    }]
    }

    });

</script>